<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.test.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Register</servlet-name>
		<servlet-class>com.test.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>logBrowseTime</servlet-name>
		<servlet-class>com.test.PostTest</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FileUpload</servlet-name>
		<servlet-class>com.test.FileUploadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>dockerDeploy</servlet-name>
		<servlet-class>com.test.PostTest</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Oauth</servlet-name>
		<servlet-class>com.test.OauthServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OauthGitHub</servlet-name>
		<servlet-class>com.test.OauthGitHubServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Service</servlet-name>
		<servlet-class>com.test.ServiceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>logBrowseTime</servlet-name>
		<url-pattern>/logBrowseTime</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FileUpload</servlet-name>
		<url-pattern>/FileUpload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>dockerDeploy</servlet-name>
		<url-pattern>/dockerDeploy</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Oauth</servlet-name>
		<url-pattern>/Oauth</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OauthGitHub</servlet-name>
		<url-pattern>/OauthGitHub</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/Register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Service</servlet-name>
		<url-pattern>/Service</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
</web-app>